<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="bootstrap_css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>


<script th:fragment="jquery_js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:fragment="popper_js" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:fragment="bootstrap_js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>